[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/simdjson"]
	path = extern/simdjson
	url = https://github.com/Kuree/simdjson
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/cxxpool"]
	path = extern/cxxpool
	url = https://github.com/Kuree/cxxpool
